.footer {
  color: var(--a-main-text-color);
  &__body {
    position: relative;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 350px 1fr;
    justify-content: space-between;
    grid-column-gap: 90px;

    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
      grid-row-gap: 35px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 640px) {
      flex-direction: row;
      gap: 20px;
      align-items: center;
      justify-content: start;
    }
  }

  .logo {
    &__image {
      @media screen and (max-width: 640px) {
        max-width: 40px;
      }
    }
    &__text {
      max-width: 160px;
      font-weight: 400;
      font-size: 1rem;
      line-height: 100%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      opacity: 0.5;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-column-gap: 110px;

    @media screen and (max-width: 640px) {
      grid-template-columns: auto auto;
      grid-column-gap: 25px;
    }

    @media screen and (max-width: 320px) {
      grid-template-columns: 1fr;
      grid-column-gap: 25px;
      grid-row-gap: 35px;
    }
  }

  &__contacts {
    display: grid;
    grid-row-gap: 40px;

    @media screen and (max-width: 320px) {
      grid-row-gap: 35px;
    }
  }

  .contacts {
    &__item {
      display: grid;
      grid-row-gap: 10px;
    }
  }

  .contact {
    &__value {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &__title {
      font-weight: 400;
      font-size: 1rem;
      line-height: 100%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      opacity: 0.5;
    }

    &__link {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 100%;
      text-decoration: none;
      color: var(--a-main-text-color);

      @media screen and (max-width: 640px) {
        font-size: 1.8rem;
      }

      @media screen and (max-width: 320px) {
        font-size: 2rem;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 5px;

    @media screen and (max-width: 640px) {
      position: absolute;
      top: 65px;
      left: 285px;
    }

    @media screen and (max-width: 320px) {
      position: static;
    }
  }

  &__social {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: var(--a-main-text-color);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

    &.telegram {
      background-image: var(--a-icon-telegram);
    }

    &.whatsapp {
      background-image: var(--a-icon-whatsapp)
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 90px;
    grid-row-gap: 0px;

    @media screen and (max-width: 640px) {
      grid-column-gap: 25px;
      grid-row-gap: 12px;
    }
  }

  &__link {
    position: relative;
    color: var(--a-main-text-color);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;

    @media screen and (max-width: 640px) {
      font-size: 1.2rem;
    }

    &_new::before {
      content: "";
      position: absolute;
      top: 0;
      right: -6px;

      width: 3px;
      height: 3px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background: var(--a-accent-color);
    }

    &::after {
      content: "";

      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      height: 1px;

      background: var(--a-main-text-color);
    }
  }

  &__bottom {
    position: relative;

    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 26px 0;
    font-size: 1.2rem;

    border-top: 1px solid rgba(255, 255, 255, 0.1);

    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  }

  &__copy {
    font-size: 1rem;
    opacity: 0.5;

    @media screen and (max-width: 640px) {
      grid-row: 2/3;
    }
  }

  &__docs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;

    @media screen and (max-width: 320px) {
      display: grid;
      grid-template-rows: auto auto;
      gap: 20px;
    }
  }

  .docs {
    &__link {
      position: relative;

      color: var(--a-main-text-color);
      text-decoration: none;
      opacity: 0.5;

      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;

        height: 1px;

        background: var(--a-main-text-color);
      }
    }
  }

  &__top-button {
    width: 24px;
    height: 24px;

    mask-image: var(--a-icon-big-arrow);
    background-color: var(--a-contrast-bg-color);
    cursor: pointer;

    @media screen and (max-width: 640px) {
      position: absolute;
      right: 0;
      bottom: 25px;
      transform: translate(0, 25%);
      -webkit-transform: translate(0, 25%);
      -moz-transform: translate(0, 25%);
      -ms-transform: translate(0, 25%);
      -o-transform: translate(0, 25%);
    }
  }
}
