<header class="header">
  <div class="header__body container">
    <a href="/" class="header__logo logo">
      <img class="logo__image" src="./img/logo-gradient.webp" />
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item nav__item_submenu">
          <div class="nav__link">Главная</div>
          <ul class="nav__submenu submenu">
            <li class="submenu__item">
              <a href="#" class="submenu__link">Первая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Вторая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Третья страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Четвертая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Пятая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Шестая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Седьмая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Восьмая страница</a>
            </li>
          </ul>
        </li>
        <li class="nav__item nav__item_submenu">
          <div class="nav__link">Услуги</div>
          <ul class="nav__submenu submenu">
            <li class="submenu__item">
              <a href="#" class="submenu__link">Первая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Вторая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Третья страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Четвертая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Пятая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Шестая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Седьмая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Восьмая страница</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Проекты</a>
        </li>
        <li class="nav__item nav__item_submenu">
          <div class="nav__link">Пресс-центр</div>
          <ul class="nav__submenu submenu">
            <li class="submenu__item">
              <a href="#" class="submenu__link">Первая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Вторая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Третья страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Четвертая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Пятая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Шестая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Седьмая страница</a>
            </li>
            <li class="submenu__item">
              <a href="#" class="submenu__link">Восьмая страница</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Партнёрам</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Вакансии</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>

    </nav>
    <div class="header__buttons buttons">
      <div class="buttons__button icon search"></div>
      <a href="#" class="buttons__button icon  cabinet"></a>
      <div class="buttons__button icon burger"></div>
    </div>
  </div>

</header>
